:host {
    margin-top: 50px;
    display: flex;
    /* align-items: center; */
    justify-content: center; 
    height: 100vh;
 }
 .form {
     width: 20rem;
 }
 .form-control{
     display: block;
 }
 mat-card{
     max-width: 900px;
     margin: 2em auto;
     text-align: center;
     max-height: 470px;
 }
 .register-button{
     width: 100%;
     margin-top: 10px;
 }